<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<form class="form-horizontal" name="memberReferenceForm" novalidate >
    <div class="form-group">
        <!-- data-toggleをmodal指定することでモーダル表示に対応 data-targetで対象のモーダルを指定 -->
        <button type="button" class="btn btn-lg btn-primary btn-block"
                ng-disabled="memberRegistForm.$invalid" ng-click="reference()">検索</button>
    </div>
</form>
