<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!-- メンバー検索 -->
<div ng-show="showReference.reference">
    <form class="form-horizontal" name="memberReferenceForm" novalidate >
        <!-- 検索条件 -->
        <div class="form-group">
            <!-- ログインID -->
            <label for="loginId" class="control-label col-xs-2">ログインID</label>
            <div ng-class="['col-xs-2']">
               <input type="text" id="loginId" name="loginId" class="form-control" ng-model="memberCondition.loginId">
            </div>
            <!-- 名前(姓) 名前(名) -->
            <label class="control-label col-xs-2">名前（姓）</label>
            <div ng-class="['col-xs-2']">
                <input type="text" class="form-control" name="lastName" ng-model="memberCondition.lastName">
            </div>
            <label class="control-label col-xs-2">名前（名）</label>
            <div ng-class="['col-xs-2']">
                <input type="text" class="form-control" name="firstName" ng-model="memberCondition.firstName">
            </div>
        </div>
        <!-- メンバー区分 -->
        <div class="form-group">
            <label class="control-label col-xs-2">メンバー区分</label>
            <div class="radio col-xs-5">
                <label for="memberGroupKbnTeacher">
                    <input type="radio" name="memberGroupKbn" id="memberGroupKbnTeacher" value="1" 
                            ng-model="memberCondition.memberGroupKbn"checked />講師
                </label>
                <label for="memberGroupKbnStudent">
                    <input type="radio" name="memberGroupKbn" id="memberGroupKbnStudent" value="2" 
                               ng-model="memberCondition.memberGroupKbn"/>生徒
                </label>
                <label for="memberGroupKbnAdmin">
                    <input type="radio" name="memberGroupKbn" id="memberGroupKbnAdmin" value="9" 
                                   ng-model="memberCondition.memberGroupKbn"/>管理者
                </label>
            </div>
        </div>
        <!-- 検索ボタン -->
        <div class="form-group">
            <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="reference()">検索</button>
        </div>
        <hr>
        <!-- 検索結果 -->
        <div id="members" ui-grid="gridOptions" 
             ui-grid-pagination ui-grid-resize-columns ui-grid-selection class="grid"></div>
        <!-- 編集ボタン -->
        <div class="form-grop">
            <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="edit()">基本情報更新</button>
            <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="addAttribute()">追加情報設定</button>
        </div>

    </form>
</div>

<!-- メンバー編集 -->
<div ng-show="showReference.addAttribute">
    <form class="form-horizontal" name="memberAddAttributeForm" novalidate>
        <!-- ログインID ・名前（姓）・名前（名）-->
        <div class="form-group">
            <label for="loginId" class="control-label col-xs-2">ログインID</label>
            <div ng-class="['col-xs-2']">
                <input type="text" id="loginId" name="loginId" class="form-control col-xs-2" 
                        ng-model="selectedMember.loginId" disabled>
            </div>
            <label class="control-label col-xs-2">名前（姓）</label>
            <div ng-class="['col-xs-2']">
                <input type="text" name="lastName" class="form-control" 
                        ng-model="selectedMember.lastName" disabled>
            </div>
            <label class="control-label col-xs-2">名前（名）</label>
            <div ng-class="['col-xs-2']">
                <input type="text" name="firstName" class="form-control" 
                        ng-model="selectedMember.firstName" disabled>
            </div>
            
        </div>
        <!-- メンバー区分 -->
        <div class="form-group">
            <label class="control-label col-xs-2">メンバー区分</label>
            <div ng-class="['col-xs-2']">
                <input type="text" name="firstName" class="form-control" 
                        ng-model="selectedMember.rMemberMemberGroup.memberGroup.memberGroupName" 
                        disabled>
            </div>
        </div>
        <hr>
        <!-- 追加属性情報(講師) -->
        <div id="teacherPanel" class="panel"
             ng-if="selectedMember.rMemberMemberGroup.memberGroupKbn === '1'">
            <div class="form-group">
                <label for="employKbn" class="control-label col-xs-2">雇用形態</label>
                <div ng-class="['col-xs-2']">
                    <select id ="employKbn" class="form-control"
                            ng-model="selectedMember.memberTeacher.employKbn"
                            ng-options="mstEmploy.employKbn as mstEmploy.employName for mstEmploy in mstEmployList"
                            ng-required="true">
                    </select>
                </div>
                <label class="control-label col-xs-2">雇用開始日</label>
                <div ng-class="['col-xs-2']">
                    <input type="date" class="form-control" name="employYmdFrom"
                           ng-model="selectedMember.memberTeacher.employYmdFrom">
                </div>
                <label class="control-label col-xs-2">雇用終了日</label>
                <div ng-class="['col-xs-2']">
                    <input type="date" class="form-control" name="employYmdEnd"
                           ng-model="selectedMember.memberTeacher.employYmdEnd">
                </div>
            </div>
            <li ng-repeat="teacherCourse in selectedMember.rMemberTeacherCourseList"
                ng-style="{listStyle: 'none'}">
                <div class="form-group">
                    <label class="control-label col-xs-2">担当コース</label>
                    <div ng-class="['col-xs-3']">
                        <select id="courseId" class="form-control"
                                ng-model="teacherCourse.courseId"
                                ng-options="mstCourse.courseId as mstCourse.courseName for mstCourse in mstCourseList">
                        </select>
                    </div>
                    <label class="control-label col-xs-2">時給(円)</label>
                    <div ng-class="['col-xs-2']">
                        <input type="number" class="form-control text-right" name="salaryPerHour"
                               ng-model="teacherCourse.salaryPerHour" integer>
                    </div>
                    <div>
                        <input type="button" ng-if="!$last" ng-click="removeCourse($index)" value="削除" />
                        <input type="button" ng-if="$last" ng-click="addCourse($index)" value="行追加" />
                    </div>
                </div>
            </li>
            {{selectedMember.rMemberTeacherCourseList}}
        </div>
    </form>
</div>