<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css -->
        <link rel="stylesheet" href="css/common.css">
        <!-- lib -->
        <script type="text/javascript" src="js/lib/jquery-1.11.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-messages.js"></script>
      
        <!-- Angular App -->
        <script type="text/javascript" src="js/angular/app.js"></script>
        <script type="text/javascript" src="js/angular/controllers/memberRegistController.js"></script>
        
        <!-- 画面制御 -->
        <script type="text/javascript">

        </script>

    </head>
    <body ng-app="onlineBookingModule" ng-controller="memberRegistController">
        <!-- サブミット時にHTML5のバリデーションチェック動作を回避するためnovalidate属性を付与 -->
        <form ng-submit="submit()"  name="memberRegistForm" novalidate >
            <!-- ログインID -->
            <label>ログインＩＤ：</label>
            <input type="text" name="loginId" ng-model="member.loginId"
                   ng-required="true"
                   ng-pattern="/^[a-zA-Z0-9]{4,8}$/"
                   class=""
                   placeholder="(例) tnkmatic" 
                   size="20" 
                   value="tnkmatic">
            <span ng-messages="memberRegistForm.loginId.$error" ng-messages-multiple>
                <span ng-message="pattern">4文字以上、8文字以下の半角英数時のみ指定可能です。</span>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- 名前（姓） -->
            <label>名前（姓）：</label>
            <input type="text" name="lastName" ng-model="member.lastName"
                   ng-required="true"
                   placeholder="(例) 田中"
                   size="20">
            <span ng-messages="memberRegistForm.lastName.$error" ng-messages-multiple>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- 名前（名） -->
            <label>名前（姓）：</label>
            <input type="text" name="firstName" ng-model="member.firstName"
                   ng-required="true"
                   placeholder="(例) 栄一"
                   size="20">
            <span ng-messages="memberRegistForm.firstName.$error" ng-messages-multiple>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- 名前（姓カナ） -->
            <label>名前カナ（姓）：</label>
            <input type="text" name="lastNameKana" ng-model="member.lastNameKana"
                   ng-required="true"
                   placeholder="(例) タナカ"
                   size="20">
            <span ng-messages="memberRegistForm.lastNameKana.$error" ng-messages-multiple>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- 名前（名カナ） -->
            <label>名前カナ（名）：</label>
            <input type="text" name="firstNameKana" ng-model="member.firstNameKana"
                   ng-required="true"
                   placeholder="(例) エイイチ"
                   size="20">
            <span ng-messages="memberRegistForm.firstNameKana.$error" ng-messages-multiple>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- 生年月日 -->
            <label>生年月日：</label>
            <input type="dateTimeLocal" name="birthday" ng-model="member.birthday"
                   ng-required="true">
            <span ng-messages="memberRegistForm.birthday.$error" ng-messages-multiple>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- SkypeID -->
            <label>SkypeID：</label>
            <input type="text" name="skypeId" size="64" ng-model="member.skypeId"
                   ng-required="true"
                   placeholder="(例) tnkmatic">
            <span ng-messages="memberRegistForm.skypeId.$error" ng-messages-multiple>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- 連絡方法区分 -->
            <label>連絡方法：</label>
            <input type="radio" name="contactWayKbn" id="contactWayKbnTel" 
                   ng-model="member.contactWayKbn"
                   value="1">
            <label for="contactWayKbnTel">電話番号</label>
            <input type="text" name="tel" size="13" ng-model="member.tel"
                   ng-pattern="/0\d{1,4}-\d{1,4}-\d{4}/"
                   ng-disabled="contactWayKbnOn('1')">
            <span ng-messages="memberRegistForm.tel.$error" ng-messages-multiple>
                <span ng-message="pattern">ハイフン付きの番号を市外局番から入力してください。</span>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <input type="radio" name="contactWayKbn" id="contactWayKbnEmail" 
                   ng-model="member.contactWayKbn" value="2">
            <label for="contactWayKbnEmail">メールアドレス</label>
            <input type="email" name="email" size="40" ng-model="member.email"
                   ng-disabled="contactWayKbnOn('2')">
            <span ng-messages="memberRegistForm.email.$error" ng-messages-multiple>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- 郵便番号 -->
            <label>郵便番号：</label>
            <input type="text" name="postalCd" size="7" ng-model="member.postalCd"
                   ng-required="true" ng-pattern="/\d{7}/">
            <span ng-messages="memberRegistForm.postalCd.$error" ng-messages-multiple>
                <span ng-message="pattern">7桁の数字で入力してください。</span>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- 市区町村 -->
            <label>市区町村：</label>
            <input type="text" name="cityName" size="20" ng-model="member.cityName"
                   ng-required="true" ng-maxlength=20>
            <span ng-messages="memberRegistForm.cityName.$error" ng-messages-multiple>
                <span ng-message="maxlength">20文字以内で入力してください。</span>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- 丁目・番地・号 -->
            <label>丁目・番地・号</label>
            <input type="text" name="addressDetailName" ng-model="member.addressDetailName"
                   ng-required="true"
                   ng-maxlength="100">
            <span ng-messages="memberRegistForm.addressDetailName.$error" ng-messages-multiple>
                <span ng-message="maxlength">100文字以内で入力してください。</span>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- 建物名 -->
            <label>建物名：</label>
            <input type="text" name="buildingName" ng-model="member.buildingName"
                   ng-maxlength="100">
            <span ng-messages="memberRegistForm.buildingName.$error" ng-messages-multiple>
                <span ng-message="maxlength">100文字以内で入力してください。</span>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- メンバー区分 -->
            <input type="radio" name="memberGroupKbn" id="memberGroupKbnTeacher" value="1" 
                   ng-model="member.memberGroupKbn"checked />
                <label for="memberGroupKbnTeacher">講師</label>
            <input type="radio" name="memberGroupKbn" id="memberGroupKbnStudent" value="2" 
                   ng-model="member.memberGroupKbn"/>
                <label for="memberGroupKbnStudent">生徒</label>
            <input type="radio" name="memberGroupKbn" id="memberGroupKbnAdmin" value="9" 
                   ng-model="member.memberGroupKbn"/>
                <label for="memberGroupKbnAdmin">管理者</label>
            <br>
            <!-- パスワード -->
            <label>パスワード：</label>
            <input type="password" name="loginPassword" ng-model="member.loginPassword"
                   ng-required="true"
                   ng-pattern="/^[a-zA-Z0-9]{4,8}$/"
                   size="20">
            <span ng-messages="memberRegistForm.loginPassword.$error" ng-messages-multiple>
                <span ng-message="pattern">4文字以上、8文字以下の半角英数時のみ指定可能です。</span>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>
            <!-- パスワード（確認用）-->
            <label>パスワード（確認用）：</label>
            <input type="password" name="loginPasswordConfirm" ng-model="member.loginPasswordConfirm"
                   ng-required="true"
                   size="20">
            <span ng-messages="memberRegistForm.loginPassword.$error" ng-messages-multiple>
                <span ng-messages-include="messages_template.html"></span>
            </span>
            <br>

            <!-- submit -->
            <input type="submit" value="登録" ng-disabled="memberRegistForm.$invalid" >
        </form>
    </body>
</html>
